<div id="hello_react"></div>
<div id="counter"></div>
<%= javascript_pack_tag('application') %>
<%= javascript_pack_tag('hello_vue') %>

<%= stylesheet_pack_tag('hello_react') %>
<%= javascript_pack_tag('hello_elm') %>
<hello-angular>Loading</hello-angular>
<%= javascript_pack_tag('hello_angular') %>
