<!DOCTYPE html>
<html>
  <head>
    <title>Webpacker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="prefetch" href="<%= asset_pack_path 'hello_react.js' %>" />
    <link rel="prefetch" href="<%= asset_pack_path 'hello_react.css' %>" />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
